venv/
wsl-venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
htmlcov/
.coverage*
coverage.xml

.env
.env.*

*.log

.git
.gitignore

.vscode/
.idea/

.DS_Store
Thumbs.db

dist/
build/
*.egg-info/