@import 'tailwindcss';

@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222 47% 11%);
}

.dark {
  --color-background: hsl(222 47% 11%);
  --color-foreground: hsl(210 40% 98%);
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);

  font-family: system-ui, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
